<div style="display: block; padding: 5%;" id="popup_form">
    <div id="contact_results"></div> 
    <form id="requestform" action="http://magento-test.local/index.php/rp/index/save" method="post" enctype="multipart/form-data" onclick="javascript:void(0)">
        <h4 class="icon-head head-edit-form fieldset-legend">Информация о запросе на цену</h4>
        <div class="fieldset " id="requestprice_fieldset">
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label"><label for="username">Имя <span class="required">*</span></label></td>
                            <td class="value">
                                <input id="username" name="username" title="Имя" type="text" class=" input-text required-entry" data-required="true">            
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="email">Электронная почта (email) <span class="required">*</span></label></td>
                            <td class="value">
                                <input type="email" id="email" name="email" title="Email пользователя" type="text" class=" input-text required-entry" data-required="true">            
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="comment">Комментарий</label></td>
                            <td class="value">
                                <input id="comment" name="comment" title="Комментарий" type="text" class=" input-text">            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button id="button" type="submit" value="Submit" name="submit" class="submit" style="margin-top: 2.5%">Создать запрос на цену</button>
    </form>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {

        win = new Window({ title: "Request Price", zIndex:3000, destroyOnClose: true, recenterAuto:true, resizable: false, width:620, height:270, minimizable: false, maximizable: false, draggable: false});
        win.setContent('popup_form', false, false);
        win.showCenter();

        win.setCloseCallback(function(){
            document.getElementById('popup_form').remove();
            return true;
        });

        var border_color = "#C2C2C2";    
        jQuery("#requestform").submit(function(e) {
            e.preventDefault();
            proceed = true;

            jQuery(jQuery(this).find("input[data-required=true]")).each(function() {
                    if (!jQuery.trim(jQuery(this).val())) {
                        jQuery(this).css('border-color','red');
                        proceed = false;
                    }
            }).on("input", function(){
                 jQuery(this).css('border-color', border_color);
            });

            /*jQuery(jQuery(this).find("#email")).each(function() {
                    if (!jQuery.trim(jQuery(this).val())) {
                        jQuery(this).css('border-color','red');
                        proceed = false;
                    }
                    var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?jQuery/; 
                    if (!email_reg.test(jQuery.trim(jQuery(this).val()))) {
                        jQuery(this).css('border-color','red');
                        proceed = false;           
                    }  
            }).on("input", function(){
                 jQuery(this).css('border-color', border_color);
            });*/

            if(proceed){ 
                var post_url = jQuery(this).attr("action");
                var request_method = jQuery(this).attr("method");
                var form_data = new FormData(this);

                jQuery.ajax({
                    url : post_url,
                    type: request_method,
                    data : form_data,
                    dataType : "json",
                    contentType: false,
                    cache: false,
                    processData:false
                }).done(function(res){
                    if (res) {
                        jQuery("#contact_results").html('<div class="success">Success adding request price.</div>').show().delay(3000).fadeOut(400);
                        jQuery( '#requestform' ).each(function(){
                            this.reset(1500);
                        });
                    }

                    if (!res) {
                        jQuery("#contact_results").html('<div class="error">' + res.text + "</div>");
                    }
                });
            }           
        });
    });
</script>